.profileBox{
    margin-left: 225px;
    padding-top: 70px;
}
.prof{
    border: solid 1px grey;
    width: fit-content;
    padding: 20px;
    border-radius: 30px;
    padding-top: 30px;
}
.noUser {
    margin: 0 auto;
    font-size: 15px;
    width: 500px;
    height: 50px;
}
.noUser p {
    margin: 0;
}
.update{
    background: rgb(148, 147, 147);
    border-radius: 10px;
}
.welcome{
    height: 25px;
    width: 150px;
    border-radius: 10px;
    background: rgb(245, 223, 226);
}
.welcome:hover {
    font-weight: 800;
    cursor: pointer;
}

@media screen and (max-width:800px){
    .profileBox{
        margin-left: 25px;
        padding-top: 60px;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}