.home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(253, 242, 244);
}
.right{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 350px;
    
}
.middle{
    position: absolute;
    right:20%;
    top: 15%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* margin-right: 400px; */
    margin-bottom: 100px;
}
.left{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 250px;
    margin-top: 20px;
}

.bubble{
    height: 285px;
    width:285px;
    border-radius: 285px;
    background: rgb(252, 208, 215);
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcomebub{
    height: 170px;
    width: 170px;
    border-radius: 170px;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.title{
    font-family: 'Pattaya', sans-serif;
    font-size: 50px;
}
.twitterbox{
    height: 350px;
    width: 350px;
    padding: 100px;
    border-radius: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.tweeter{
    background: rgb(250, 230, 233);
}
.login{
    text-align: center;
    font-size: 22px;
    text-decoration: none;
    color: black;
}
.login:hover{
    font-weight: 800;
    cursor: pointer;
    font-size: 26px;
}
.logoutlink{
    text-align: center;
    font-size: 20px;
}
.logoutlink:hover{
    font-weight: 800;
    cursor: pointer;
    font-size: 24px;
}

