.home{
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(253, 242, 244);
}
.head {
    position: fixed;
    width: 100vw;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(253, 242, 244);
    box-shadow: .3px .4px 3px rgba(0,0,0, 0.767);
}
.topbanner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    width: 100vw;
    margin-top: 80px;
}
.about{
    font-family: 'Pattaya', sans-serif;
    font-weight: 0;
    width: fit-content;
    font-size: 30px;
    padding-left: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.join{
    font-family: 'Pattaya', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: red;
}
.firstpic{
    width: 55vw;
    height: 30vh;
    padding-right: 20px;
}
.middlebanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px;
    width: 100vw;
    height: fit-content;
}
.spotlight{
    
}
.second {
    padding-left: 40px;
    width: 60vw;
    height: 30vh;
}
.recentstitle{
    justify-content: center;
    align-items: center;
    display: flex;
}
.recentbox{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    width: 100vw;
    height: fit-content;
    
}
.recents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 200px;
    border: 1px solid grey;
    background: white;
    box-shadow: .3px .4px 3px rgba(0,0,0, 0.767);

    border-radius: 10px;
    margin: 10px;
}
.imgtitle{
    font-size: 15px;
    margin: 0;
}
.username{
    margin:0;
}
.itemprice{
    font-weight: bold;
    color: red;
    margin:0;
}
/* .right{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 350px;
    
} */
/* .middle{
    position: absolute;
    right:20%;
    top: 15%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
} */
/* .left{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 250px;
    margin-top: 20px;
} */
/* .about{
    background: white;
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
/* .bubble{
    height: 285px;
    width:285px;
    border-radius: 285px;
    background: rgb(252, 208, 215);
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .welcomebub{
    height: 170px;
    width: 170px;
    border-radius: 170px;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
} */
.title{
    font-family: 'Pattaya', sans-serif;
    font-weight: 200;
    font-size: 40px;
    padding: 0;
    margin-left: 50px;
    margin-bottom: 5px;
    color: black;
}
.linktitle{
    text-decoration: none;
}
/* .twitterbox{
    height: 350px;
    width: 350px;
    padding: 100px;
    border-radius: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.tweeter{
    background: rgb(250, 230, 233);
} */
.login{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-right: 50px;
}
.login:hover{
    font-weight: 800;
    cursor: pointer;
    font-size: 22px;
}
.userlink{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.loggedin{
    padding-right:25px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}
.logoutlink{
    
}
.logoutlink:hover{
    font-weight: 800;
    cursor: pointer;
    font-size: 20px;
}
.footy{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}



/* .marquee {
  height: fit-content;
  width: 1000px;

  overflow: hidden;
  position: relative;
}

.marquee .marqtest {
  display: block;
  width: 200%;
  height: 200px;

  position: absolute;
  overflow: hidden;

  animation: marquee 10s linear infinite;
}

.marquee span {
    height: fit-content;
  float: left; 
  width: 100vw;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
} */


@media screen and (max-width:800px){
    .middlebanner{
        display: none;
    }
    .topbanner{
        flex-direction: column;
    }
    .about{
        padding:0;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 35px;
    }
    .firstpic{
        width:80vw;
    }
}

@media screen and (max-width: 420px){
    .firstpic{
        display: none;
    }
    .about{
        font-size: 30px;
    }
    .recents{
        height: 150px;
        width: 150px;
    }
    .recents > img {
        width: 50px;
        height: 50px;
    }
    .imgtitle{
        font-size: 10px;
    }
    .username{
        font-size: 12px;
    }
    .itemprice{
        font-size: 12px;
    }
    .logoutlink{
        display: none;
    }
    .loggedin{
        font-size: 12px;
        padding: 0;
        width: fit-content;
        padding-right: 20px;
    }
    .title{
        margin-left: 20px;
    }
    .recentstitle{
        font-size: 20px;
    }
}