.NavBar {
    height: 100vh;
    width: 130px;
    display: flex;
    /* justify-content: flex-start; */
    align-items:center;
    flex-direction: column;
    background: rgb(228, 223, 245);
    padding: 30px;
    padding-top: 15px;
    margin: 0px 0px;
    position: fixed;
}
.logo{
    text-decoration: none;
    font-family: 'Pattaya', sans-serif;
    color: black;
    font-size: 40px;
    padding-bottom: 30px;
}
.logout{
    background: grey;
    height: 20px;
    width: 75px;
}

.profilepic{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.userdisplay {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 15vh;
    margin-top: 15px;
}
.dropBtn{
    display:none;
}
.linky{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.linky:hover {
    font-weight: 800;
    font-size: 24px;
}


@media screen and (max-width:800px){
    .NavBar{
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    background: rgb(228, 223, 245);
    position: fixed;
    padding: 0;
    }

    .toggler {
        width: 100%;
        height: 100%;
        transition: .3s;
        position: relative;
        z-index: 1;
    }

    .toggler.hide{
    transform: translate(0px, -270px);
    }

    .toggler.show {
        transform: translate(0px, -35px);
    }

    .header{
        width: 90vw;
        display: flex;
        height: 70px;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 0;
        position: relative;
        z-index: 9999;
        background: rgb(228,226,244);
    }
    .logo{
        padding: 0;
    }
    .dropBtn{
        display: block;
    }
    .navLinks{
        margin: 0;
        padding-top: 0;
    }
    .profilepic{
        display:none;
    }
    .userdisplay {
        position: fixed;
        justify-content: space-evenly;
        right:0px;
        top: 0;   
        transform: translate(0px, 50px);
        background: rgb(228, 223, 245);
        opacity: 0.9;
        height:215px;
        padding-bottom: 10px;
        width: 100%;
        padding-top: 10px;
        transition: 2s;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
}

@media screen and (max-width: 400px){
    .userdisplay{
        width: 100%;
        opacity: 0.95;
        z-index: -5;
    }
    .dropBtn{
       
        display: block;
        
    }
}

